Exersice_2:  
# Data Science Tools and Ecosystem

Exercise_3 :
In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise_4:
Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. SQL

Exercise_5:
Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

Exercise_6:
| Data Science Tools |
|--------------------|
|  Jupyter Notebook  |
|      R Studio      |
| Zeppelin Notebooks |

Exersice_7:  Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# Exercise_8:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

In [ ]:
# Exercise_9:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

Exersice_10:
# Objectives:
List popular languages for Data Science:
*python
*R
*SQL

Exersice_11:
## AUTHOR
JAY MANGUKIYA